<footer class="mt-10">
    <div class="flex justify-center space-x-4">
        <a href="?lang=pt" class="bg-white text-blue-600 px-4 py-2 rounded-md shadow hover:bg-gray-200" th:text="#{footer.portugues}"></a>
        <a href="?lang=en" class="bg-white text-blue-600 px-4 py-2 rounded-md shadow hover:bg-gray-200" th:text="#{footer.english}"></a>
    </div>

    <div class="bg-gray-800 text-white py-10 mt-10">
        <div class="container mx-auto text-center">
            <p th:text="#{footer.direitos}"></p>
            <div class="mt-4 space-x-4">
                <a href="#" class="hover:text-gray-400" th:text="#{footer.politica_privacidade}"></a>
                <a href="#" class="hover:text-gray-400" th:text="#{footer.termos_uso}"></a>
            </div>
        </div>
    </div>
</footer>