<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{necessidades.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-sans antialiased bg-gray-100 text-gray-800">

<div th:replace="~{fragments/header :: header}">
    Impacto Voluntário Header
</div>

<div class="container mx-auto p-6 mt-8">
    <h1 class="text-4xl font-bold text-gray-800 mb-6 text-center" th:text="#{necessidades.title}"></h1>
    <p class="text-lg text-gray-600 mb-10 text-center max-w-3xl mx-auto" th:text="#{necessidades.description}"></p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

        <div th:each="necessidade : ${necessidades}"
            th:classappend="${necessidade.urgencia.descricao == 'Baixa' ? 'border-green-500' :
                            necessidade.urgencia.descricao == 'Média' ? 'border-blue-500' :
                            necessidade.urgencia.descricao == 'Alta' ? 'border-yellow-500' :
                            'border-red-500'}"
            class="bg-white rounded-lg shadow-md p-6 border-l-4 hover:shadow-lg transition duration-300">


            <h3 class="text-2xl font-semibold text-gray-800 mb-2" th:text="${necessidade.titulo} + ' - ' + ${necessidade.endereco.cidade} +'/'+ ${necessidade.endereco.uf}"></h3>
            <p class="text-gray-600 mb-3" th:text="${necessidade.descricao}"></p>

            <div class="text-gray-700 text-sm mb-2">
                <span class="font-semibold" th:text="#{necessidades.card.disasterType}"></span> <span th:text="${necessidade.desastre.descricao}"></span>
            </div>

            <div class="text-gray-700 text-sm mb-2">
                <span class="font-semibold" th:text="#{necessidades.card.location}"></span> <span th:text="${necessidade.endereco.cidade} + ', ' + ${necessidade.endereco.uf}"></span>
            </div>

            <div class="text-gray-700 text-sm mb-2">
                <span class="font-semibold" th:text="#{necessidades.card.registeredVolunteers}"></span> <span th:text="${necessidade.qtdVoluntarios}"></span>
            </div>

            <div class="text-gray-700 text-sm mb-4">
                <span class="font-semibold" th:text="#{necessidades.card.urgency}"></span>
                <span class="font-bold" th:text="${necessidade.urgencia}"
                      th:classappend="${necessidade.urgencia.descricao == 'Baixa' ? 'text-green-600' :
                          necessidade.urgencia.descricao == 'Média' ? 'text-blue-600' :
                          necessidade.urgencia.descricao == 'Alta' ? 'text-yellow-600' :
                          'text-red-600'}"> </span>
            </div>
            <a class="bg-blue-600 text-white px-6 py-2 rounded-full hover:bg-blue-700 transition duration-300"
               th:href="@{/voluntario/ajudar/{id}(id=${necessidade.id})}" th:text="#{necessidades.card.helpButton}"></a>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}">
    &copy; 2025 Impacto Voluntário
</div>

</body>
</html>
